.container {
  width: 100%;
  padding: 0.5rem 1rem;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.container.navContainer {
  height: 37px;
}

.container.training {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.App {
  background-color: #1c1c1c;
}

.app {
  display: flex;
  flex-direction: row;
}

.navFooterBorder {
  width: 100%;
}
