.container {
  width: 100%;
  padding: 0.5rem 1rem;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 37px;
}

.App {
  background-color: black;
}

.app {
  display: flex;
  flex-direction: row;
}
