.container {
  width: 100%;
  padding: 0.5rem 1rem;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container.navContainer {
  height: 37px;
}


.container.training {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.container.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container.landing > h1 {
  display: inline-block;
  padding-top: 20px;
  font-size: 24px;
  color: white;
}
.container.landing > a {
  color: white;
}

.App {
  background-color: #1c1c1c;
  height:100vh;
  position:relative;
}

.app {
  display: flex;
  flex-direction: row;
}
