
/* EEG */
.thermostat-container {
    text-align: center;
    padding: 20px;
    border: 2px solid black;
    position: relative;
    height: 800px;
}

.thermostat{
    margin-top: 250px;
    position:relative;
}


.thermostat .temperature{
    position: absolute;
    margin-top: 0;
    color: #111;
    text-shadow: 1px 2px 1px #282828;
    font-weight: bold;
    font-size: 3.2rem;
    left: 50%;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.thermostat-container button{
    width:60px;
    height:50px;
    position:absolute;
    background:transparent;
    outline: transparent;
    border: none;
    cursor: pointer;
    left: 50%;
    text-align: center;
}

.thermostat-container button.up{
    top: 70px;
    transform: translate(-50%, -50%);
}
.thermostat-container button.down{
    bottom:30px;
    transform: translate(-30px, -30px);
}

.thermostat-container button:hover{
    border: 1px solid blue;
}

.thermostat-container.selected{
    border: 2px solid #1041ff;
    animation: neon-blue 1s ease infinite;
    -moz-animation: neon-blue 1s ease infinite;
    -webkit-animation: neon-blue 1s ease infinite;
}

@keyframes neon-blue {
    0%,
    100% {
        box-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff,
        0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe, 0.5vw 0.5vw 0.1vw #147280;
        color: #28d7fe;
    }
    50% {
        box-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180,
        0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
        color: #146c80;
    }
}
